<AccumulatorWeb.Components.Notes.NotesNavbar.notes_navbar
  current_user={assigns[:current_user]}
  workspaces={assigns[:workspaces] || []}
  selected_workspace={assigns[:selected_workspace]}
/>

<main>
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
