<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="theme-color" content="#1f1f1f" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <.live_title suffix=" · phoenix.aayushsahu.com">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  </head>
  <body class="bg-[#1f1f1f] text-white antialiased font-note">
    <.navbar current_user={@current_user}>
      <.navbar_link to={~p"/"} label="phoenix.aayushsahu.com" />
      <.navbar_link to={~p"/dashboard"} label="dashboard" />
      <.navbar_link to={~p"/spotify"} label="spotify" />
      <.navbar_link to={~p"/redirect"} label="redirect" />
      <.navbar_link :if={@current_user} to={~p"/bin"} label="bin" />
      <.navbar_link :if={@current_user} to={~p"/notes"} label="notes" />
      <.navbar_link :if={@current_user} to={~p"/sessions"} label="session" />
      <.navbar_link :if={@current_user} to={~p"/livedashboard"} label="livedashboard" />
    </.navbar>

    <%= @inner_content %>
  </body>
</html>
