@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "font";

/* This file is for your main application CSS */

.note-text ul {
	list-style: disc;
}

.note-text ul li {
	margin-left: 20px;
}

.note-text a {
	text-decoration: underline;
	color: skyblue;
}

.note-text h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	font-size: 1.2rem;
	border-bottom: 1px solid rgb(100, 100, 100);
}

.note-text :not(pre)>code {
	background-color: rgba(0, 0, 0, 0.224);
	font: inherit;
	padding: 2px;
}

.note-text pre {
	background-color: rgba(0, 0, 0, 0.224);
	font: inherit;
	padding: 4px;
}

.note-text pre>code {
	font: inherit;
}

.note-text blockquote {
	border-left: 5px solid gray;
	padding-left: 5px;
	background-color: rgba(0, 0, 0, 0.2);
}

.note-text hr {
	margin: 2px 0;
}