/* @font-face {
	font-family: "Overpass Mono";
	src: url("/fonts/OverpassMono-Regular.ttf"),
		url("/fonts/OverpassMono-Light.ttf"),
		url("/fonts/OverpassMono-Medium.ttf"),
		url("/fonts/OverpassMono-Bold.ttf"),
		url("/fonts/OverpassMono-SemiBold.ttf");
} */

/*@font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono.otf");
}*/
