<h1 class="mb-2 text-xl font-bold">Phoenix server powering aayushsahu.com</h1>

<.link href={~p"/dashboard"}>
  <.button>
    Dashboard
  </.button>
</.link>

<a
  href="https://github.com/aayushmau5/aayushsahu.com-phoenix"
  target="_blank"
  rel="noreferrer"
  class="ml-2"
>
  <.button>
    Source
  </.button>
</a>
